.main {
    display: flex;
    flex-direction: column;
    font-family: Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}
.navBarContainer {
    display: flex;
    justify-content: center;
    height: 60px;
    width: 100%;
    background-color: rgb(33, 35, 41);
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
    left: 0;
}
.navBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1220px;
    height: 60px;
}
.logo {
    display: flex;
    align-items: center;
    width: 17%;
}
.logo img {
    height: 20px;
    margin-right: 10px;
}
.logo span {
    color: rgb(130, 215, 247);
    font-size: 20px;
}
.textNavBar {
    display: flex;
    width: 40%;
}
.linksNavBar {
    padding-left: 5%;
    padding-right: 5%;
}
.linksNavBar a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 300;
    color: #FFF;
}
.linksNavBar:hover a {
    color:rgb(130, 215, 247)
}
.searchInput {
    width: 20%;
}
.searchInput input {
    background-color: rgb(33, 35, 41);
    color: rgb(117, 117, 117);
    font-size: 18px;
    border: 0;
    font-weight: 300;
    width: 100%;
}
input:focus {
    background-color: rgb(55, 57, 63);
    border: 0;
}
.rightTextNavBar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #FFF;
    font-size: 14px;
    width: 23%;
}
.languages {
    display: flex;
    align-items: center;
}
.languages svg {
    fill: #FFF;
}
.version:hover {
    color: rgb(130, 215, 247);
}
.languages:hover {
    color: rgb(130, 215, 247);
}
.languages:hover svg {
    fill: rgb(130, 215, 247);
}
.github:hover {
    color: rgb(130, 215, 247);
}